<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test-class Suite" parallel="classes" thread-count="10">
    <test name="Test-class test">
        <classes>
            <class name="websites.yeezysupply.Execution"/>
            <class name="websites.ruvilla.Execution"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->

